<!-- <h1>Hola Mundo!!!</h1> -->

<!-- <h2>{{ 'Hola mundo'.repeat(5) }}</h2>

<p>3 + 3 = {{ 3 + 3 }}</p>
<p>Hola, soy {{ name }} y tengo {{ age }}</p>

<img width="300" src="https://source.unsplash.com/random" alt="imagen">

<input type="text" #nameInput="ngModel" required [(ngModel)]="person.name" />
<p>{{person.name}}</p>
<p>Valid: {{nameInput.valid}}</p> -->

<!-- <div class="products--grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" [alt]="product.name">
    <h2>{{product.price}}</h2>
    <p>{{ product.name }}</p>
  </div>
</div> -->


<!-- <input type="text" #nameInput2="ngModel" required [(ngModel)]="person.name" />

<p class="message-error" [class.invalid]="nameInput2.invalid">El campo es requerido</p>

<label>Nombre</label>
<input type="text" #nameInput3="ngModel" required [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">Texto texto texto</p>


<input type="text" [(ngModel)]="imgParent">
<app-img [img]="imgParent" (loaded)="onLoaded($event)"></app-img> -->

<app-nav></app-nav>
<app-products></app-products>
